<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<script type="text/javascript">
    window.onload = function (){
        document.getElementById("mybtn").onclick = function (){
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function(){

            }
           var username = document.getElementById("username");
           var password = document.getElementById("username");
            document.getElementById("password");
            xhr.open("POST", "http://localhost:8080/employee/getAll", true)
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")

            xhr.send("username="+username+"password="+password);
        }
    }
</script>
<div>
    <input type="text" id="username">
    <input type="text" id="password">
    <button id="mybtn"></button>
</div>
</body>
</html>